<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> welcome </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/flat-ui.css" rel="stylesheet">
        <link rel="shortcout icon" href="/images/favicon.ico">
    </head>

    <body>
        <div class="container">
            <div class="demo-headings">
                <h1 class="demo-logo">
                    Welcome
                    <small>{{msg}}</small>
                </div>
			</h1>
        </div>

        <script src="/js/jquery-1.8.2.min.js"></script>
        <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="/js/custom_checkbox_and_radio.js"></script>
        <sciprt src="/js/bootstrap-tooltip.js"></script>
    </body>
</html>
